body {
  font-family: Arial, sans-serif;
  background-color: #faf2f2;
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 20px;
  text-align: center;
}

p {
  margin: 10px 0;
  text-align: center;
}

textarea {
  display: block;
  margin: 20px auto;
  width: 80%;
  min-height: 200px;
  padding: 10px;
  font-size: 16px;
  line-height: 1.5;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  resize: vertical;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #faf2f2;
}

iframe {
  display: block;
  margin: 20px auto;
  width: 80%;
  height: 500px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
body {
  direction: rtl;
  text-align: right;
}
